p {
    padding: 100px;
    font-size: 3rem;
    font-weight: 600;
}
h1 {
    font-size: 5rem;
  }
  
  p, li {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  a {
    color: #ff0000;
  }
  
  a:hover, a:visited, a:focus {
    color: #a60000;
    text-decoration: none;
  }
  
  a:active {
    color: #000000;
    background-color: #a60000;
  }
