{% extends "noAccesible/layout.html" %}

{% block content %}
<div class="main-container container js-quickedit-main-content">
    <div class="row">
                              <div class="col-sm-12">
              <div data-drupal-messages-fallback="" class="hidden"></div>
<div id="block-pagetitle" class="block block-core block-page-title-block">
  
    
      <div class="content">
      
  <h1 class="title"><span property="dc:title" class="field field--name-title field--type-string field--label-hidden">Atención y Servicios a la Ciudadanía</span>
</h1>


    </div>
  </div>


          </div>
              
            
                  <section class="main-content col order-last col-sm-12" id="content" role="main">

                
                
                
                                      
                  
                          <a id="main-content"></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                                                  <div id="news-block" class=""></div>
                              </div>
            </div>
          </div>
            <div id="block-vartheme-sub-system-main" class="block block-system block-system-main-block">
  
    
      <div class="content">
        <div data-history-node-id="3199" class="layout layout--onecol">
    <div class="layout__region layout__region--content">
      
            <div property="content:encoded" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="my-2 mb-3">
            <img class="img-fluid" src="http://www.inci.gov.co/sites/default/files/banneratencion.png" alt="">
        </div>

        <h2>Bienvenido al Sistema de Atención al Ciudadano del Instituto Nacional para Ciegos INCI.</h2>
        <p>
            En este sistema usted podrá: radicar requerimientos sobre consultas, quejas o reclamos, sugerencias,
            felicitaciones y trámites y podrá consultar en cualquier momento el estado de los requerimientos registrados
            de una forma rápida y efectiva.</p>
        <div class="py-2"></div>
        <div class="row">
            <div class="col-md-12 my-3 text-center">
                <h2>Servicios al ciudadano</h2>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="far fa-address-book fa-4x p-4" aria-hidden="true"></i>
                <a href="http://201.217.217.2:8081/orfeo/formularioWeb/" target="_blank" class="card-link">
                    <h3>PQRSD</h3>
                </a>
                <small>Mecanismos para presentar Peticiones, Quejas, Reclamos, Sugerencias y Denuncias de competencia
                    del Instituto Nacional para Ciegos</small>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="far far fa-newspaper fa-4x p-4" aria-hidden="true"></i>
                <a href="http://www.inci.gov.co/transparencia/91-tramites-y-servicios" target="_blank" class="card-link">
                    <h3>Trámites y Servicios</h3>
                </a>
                <small>Conozca y acceda al listado de trámites y servicios disponibles en el Instituto Nacional para
                    Ciegos</small>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="far fa-question-circle fa-4x p-4" aria-hidden="true"></i>
                <a href="http://www.inci.gov.co/transparencia/24-preguntas-y-respuestas-frecuentes" target="_blank" class="card-link">
                    <h3>Preguntas frecuentes</h3>
                </a>
                <small>Conozca y acceda a la lista de preguntas ciudadanas y respuestas del Instituto Nacional para
                    Ciegos</small>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="far fa-comments fa-4x p-4" aria-hidden="true"></i>
                <a href="http://www.inci.gov.co/transparencia/11-mecanismos-para-la-atencion-al-ciudadano" target="_blank" class="card-link">
                    <h3>Canales de atención</h3>
                </a>
                <small>Consulte los diferentes canales de atención al ciudadano del Instituto, donde podrán gestionar
                    trámites, consultas, quejas y sugerencias</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 my-3 text-center">
                <h2>Consultas</h2>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="fas fa-landmark fa-4x p-4" aria-hidden="true"></i>
                <a href="http://www.inci.gov.co/sites/default/files/transparenciaok/resolucion-tratamiento-datos-personales.pdf" target="_blank" class="card-link">
                    <h3>Politica de datos</h3>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="far far fa-hand-paper fa-4x p-4" aria-hidden="true"></i>
                <a href="/transparencia" target="_blank" class="card-link">
                    <h3>Transparencia</h3>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="fas fa-blind fa-4x p-4" aria-hidden="true"></i>
                <a href="https://www.inci.gov.co/sites/default/files/CARTA_TRATO_DIGNO.pdf" target="_blank" class="card-link">
                    <h3>Carta Trato Digno</h3>
                </a>
            </div>
            <div class="col-md-3 text-center">
                <i style="color: #153D8A;" class="fas fa-user-friends fa-4x p-4" aria-hidden="true"></i>
                <a href="https://inci.gov.co/sites/default/files/transparenciaok/PROTOCOLO%20SERVICIO%20AL%20CIUDADANO%202021.docx" class="card-link">
                    <h3>Protocolo de Atención al Ciudadano</h3>
                </a>
            </div>
        </div>
        <div class="row my-4">
            <p><strong>PETICIÓN:</strong>&nbsp;Es cualquier solicitud que haga el usuario al prestador del servicio, que
                se relacione con el servicio que se le presta. Estas pueden ser de interés general, interés particular,
                petición de información y consulta. (ver Código Contencioso Administrativo).</p>

            <p><strong>QUEJA:</strong>&nbsp;Es la formalización de una no conformidad en el servicio percibida por el
                cliente. Normalmente el usuario puede quejarse por: la forma y condiciones en que se le ha prestado el
                servicio, la actuación de algún funcionario de la entidad que ofrece el servicio.</p>

            <p><span><strong>RECLAMO:</strong>&nbsp;Es una solicitud
                    para que la entidad revise, ajuste o modifique los resultados obtenidos por el cliente frente a un
                    servicio requerido por él.</span></p>

            <p><span><strong>SUGERENCIA:</strong>&nbsp;
                    Es la manifestación de una idea o propuesta para mejorar la prestación del servicio o la gestión de
                    la Entidad.</span></p>

            <p><span><strong>DENUNCIA:</strong>&nbsp;
                    Es la puesta en conocimiento ante una autoridad competente de una conducta posiblemente irregular,
                    para que se adelante la correspondiente investigación penal, disciplinaria, fiscal, administrativa -
                    sancionatoria o ético profesional.</span></p>

            <hr class="my-3">

            <p>El Servicio de Atención al Ciudadano, brinda información y orientación pertinente y oportuna sobre los
                servicios institucionales y aquellos que ofertan los sistemas públicos a las personas con limitación
                visual y sus colectivos, instituciones públicas y privadas y a la población en general.</p>

            <hr class="my-3">

            <h3>Para dar respuesta a los requerimientos y satisfacer las necesidades de información de la población y
                las instituciones, la entidad pone a disposición los siguientes canales de comunicación:</h3>

            <hr class="my-3">

            <ol>
                <li><strong>Presencia</strong>: Carrera 13 No 34-91- Bogotá; Oficina de Atención al Ciudadano del INCI,
                    Lunes a Viernes de 8:00 am a 5:00 pm.</li>
                <li><strong>Vía telefónica</strong>: A través del teléfono 384 66 66 Extensión 110.</li>
                <li><strong>Número celular</strong>: 316-874 10 14</li>
                <li><strong>Whatsapp</strong> Al número: 3168741014 o en el siguente link <a href="https://api.whatsapp.com/send?phone=57316 8741014&amp;text=Hola%20solicito%20informaci%C3%B3n%20desde%20la%20p%C3%A1gina%20%F0%9F%91%8D">Abre Whatsapp</a></li>
                <li><strong>Correo electrónico</strong>: A través del correo&nbsp;<a data-mce-href="mailto:%20aciudadano@inci.gov.co" href="mailto:%20aciudadano@inci.gov.co" target="_blank" title="Correo electrónico de Atención al Ciudadano">&nbsp;aciudadano@inci.gov.co</a>, se da
                    respuesta a las solicitudes. Si se dispone de la información, se responden el mismo día. Cuando se
                    trata de solicitudes realizadas después de las 4:00 p.m., se responden al día siguiente. Si se
                    requiere de la intervención de alguno de los programas, estos tienen tres días hábiles para
                    responder a los ciudadanos y a las entidades.</li>
                <li>Formulario de registro de peticiones, quejas y reclamos:&nbsp;<a data-mce-href="http://201.217.217.2:8081/orfeo/formularioWeb/" href="http://201.217.217.2:8081/orfeo/formularioWeb/" target="_blank">Ingrese aquí&nbsp;su
                        petición, queja o reclamo.</a></li>
                <li>Consulte su petición queja o reclamo:&nbsp;<a data-mce-href="http://201.217.217.2:8081/orfeo/consultaWeb/" href="http://201.217.217.2:8081/orfeo/consultaWeb/" target="_blank">Consulte aquí&nbsp;su
                        petición, queja o reclamo.</a></li>
                <li>Redes Sociales:&nbsp;A través de nuestro&nbsp;<a data-mce-href="https://www.facebook.com/INCIColombia/" href="http://www.facebook.com/INCI_colombia" target="_blank" title="Perfil Facebook del INCI">Facebook&nbsp;</a>y nuestro&nbsp;<a data-mce-href="https://twitter.com/#!/inci_colombia" href="https://twitter.com/#!/inci_colombia" target="_blank" title="Perfil Twitter INCI">Twitter&nbsp;</a>.</li>
                <li>Puede comunicarse con nosotros por medio de skype a&nbsp;aciudadano-inci.</li>
            </ol>



            <h3>Para dar Cumplimiento al artículo 75 de la Ley 1474 de 2011 el Ciudadano puede presentar:</h3>

            <ol>
                <li>Denuncia de actos de corrupción.</li>
                <li>Sugerencias para modificar la prestación del servicio.</li>
            </ol>

            <p><strong>A través de cualquiera de los medios anteriormente expuestos.</strong></p>


        </div></div>
      


    </div>
  </div>


    </div>
  </div>


              </section>

                </div>
  </div>
  {% endblock %}