{% extends "noAccesible/layout.html" %}

{% block content %}
      
      <div class="main-container container js-quickedit-main-content">
        <div class="row">
          <div class="col-sm-12">
            <div
              id="block-breadcrumbs"
              class="block block-system block-system-breadcrumb-block"
            >
              <div class="content">
                <nav role="navigation" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a hrefhref="{% url 'inicio' %}">Inicio</a>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
            <div data-drupal-messages-fallback class="hidden"></div>
            <div
              id="block-pagetitle"
              class="block block-core block-page-title-block"
            >
              <div class="content">
                <h1 class="title">
                  <span
                    property="dc:title"
                    class="
                      field
                      field--name-title
                      field--type-string
                      field--label-hidden
                    "
                    >Acerca del INCI</span
                  >
                </h1>
              </div>
            </div>
          </div>

          <aside class="col-sm-3" role="complementary">
            <div
              id="block-institutonacionalparaciegos"
              class="
                block
                block-block-content
                block-block-content8b81b991-81e3-4567-9268-47b7c968b202
              "
            >
              <div class="content">
                <div
                  class="
                    clearfix
                    text-formatted
                    field
                    field--name-body
                    field--type-text-with-summary
                    field--label-hidden
                    field__item
                  "
                >
                  <div class="col-12 mb-3">
                    <div class="list-group">
                      <a
                        class="list-group-item list-group-item-action"
                        href="director.html"
                        >El Director</a
                      >
                      <a class="list-group-item list-group-item-action" href="#"
                        >Marco Estratégico</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="mision.html"
                        >Misión</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="vision.html"
                        >Visión</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="objetivo-estrategico.html"
                        >Objetivo Estratégico</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="funciones.html"
                        >Funciones</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="organigrama.html"
                        >Organigrama</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="equipo-de-trabajo.html"
                        >Equipo de Trabajo</a
                      >
                      <a
                        class="list-group-item list-group-item-action"
                        href="codigo-de-integridad.html"
                        >Código de integridad</a
                      >
                      <a class="list-group-item list-group-item-action" href="#"
                        >Aliados</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>

          <section
            class="main-content col order-last col-sm-9"
            id="content"
            role="main"
          >
            <a id="main-content"></a>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div id="news-block" class=""></div>
                </div>
              </div>
            </div>
            <div
              id="block-vartheme-sub-system-main"
              class="block block-system block-system-main-block"
            >
              <div class="content">
                <div data-history-node-id="1873" class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      property="content:encoded"
                      class="
                        clearfix
                        text-formatted
                        field
                        field--name-body
                        field--type-text-with-summary
                        field--label-hidden
                        field__item
                      "
                    >
                      <p>
                        El Instituto Nacional para Ciegos -INCI es una entidad
                        de carácter técnico asesor adscrita al Ministerio de
                        Educación, creada mediante el Decreto 1955 del 15 de
                        Julio de 1955.
                      </p>
                      <p>
                        Desde su creación el INCI trabaja para garantizar los
                        derechos de los colombianos ciegos y con baja visión en
                        términos de inclusión social, educativa, económica,
                        política y cultural.
                      </p>
                      <p>
                        Actualmente el INCI está regido por el Decreto 1006 de
                        2004 que modificó su estructura institucional situándolo
                        como un establecimiento público del orden nacional con
                        personería jurídica, autonomía administrativa y
                        financiera y patrimonio independiente.
                      </p>
                      <p>
                        Brindamos servicios de asistencia técnica y asesoría a
                        las demás entidades que a nivel nacional, territorial y
                        local tienen a cargo la atención de las personas con
                        discapacidad visual en el país.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      {% endblock %}