{% extends "noAccesible/layout.html" %}

{% block content %}
<h1 align="center">
    Hoja de Vida
</h1>
<form method="post" align="center">
    {% if mensajeOK == 'Registro realizado correctamente' %}
    <script>
        window.alert("Hoja de vida registrada correctamente");
    </script>
    {%endif%}
    {% csrf_token %}
    <table border="1" align="Center">
        <tr>
            <th  height="50" colspan="2" align="center"><h2 style="color:brown;">DATOS PERSONALES</h2></th>
        </tr>
        <tr>
            <td>Ingresar Nombre:</td>
            <td><input id="nombre" name="nombre" type="text" class="clase1" placeholder="Ejemplo: Daniel Esteban" maxlength="30" required></td>
        </tr>
        <tr>
            <td>Ingresar Apellidos:</td>
            <td><input id="apellidos" name="apellidos" type="text" class="clase1" placeholder="Ejemplo: Martinez Martinez" maxlength="30" required></td>
        </tr>
        <tr>
            <td>Ingresar Numero Celular:</td>
            <td><input id="numero" name="numero" type="number" class="clase1" placeholder="Ejemplo: 3122587896" pattern="[0-9]{10}"></td>
        </tr>
        <tr>
            <td>Ingresar Numero de Cedula:</td>
            <td> <input id="cedula" name="cedula" type="number" class="clase1" placeholder="Ejemplo: 46885974"  min=1000000 max=9999999999 required></td>
        </tr>
        <tr>
            <td>Ingresar Fecha de Nacimiento: </td>
            <td><input id="nacimiento" name="nacimiento" type="date" class="clase1" min=1930-01-01 max=2002-09-20></td>
        </tr>
        <tr>
            <td>Ingresar Correo</td>
            <td><input id="correo" name="correo" type="email" class="clase1" required></td>
        </tr>
        <tr>
            <td>Seleccionar Estado civil:</td>
            <td><select id="civil" name="civil" class="clase1">
            <optgroup label="Estado Civil">
              <option value="Soltero">Soltero</option>
              <option value="Casado">Casado</option>
              <option value="Divorciado">Divorciado</option>
              <option value="Viudo">Viudo</option>
              <option value="Union libre">Union libre</option>
            </optgroup>
        </select ></td>
        </tr>
        <tr>
            <td>Seleccionar Sexo:</td>
            <td><input id="genero" type="radio" name="genero" value="Hombre" >
            <label >Maculino</label>
            <input id="genero" type="radio"name="genero" value="mujer" >
            <label >Femenino</label></td>
        </tr>
        <tr>
            <td>Cualidades:</td>
            <td><input id="chec1" type="checkbox" name="chec1" value="Atento"> Atento<br>
                <input id="chec2" type="checkbox" name="chec2" value="Impulsivo"> Impulsivo<br>
                <input id="chec3" type="checkbox" name="chec3" value="Respetuoso"> Respetuoso<br>
                <input id="chec4" type="checkbox" name="chec4" value="Timido"> Timido<br></td>
        </tr>
        <tr>
            <td align="center">Perfil Ocupacional:</td>
            <td><textarea id="perfil" name="perfil" rows="10" cols="50" placeholder="Haga aqui su descripcion..." class="clase1"></textarea></td>
        </tr>
        <tr>
            <th  height="50" colspan="2" align="center"><h2 style="color:brown;">DATOS ACADEMICOS</h2></th>
        </tr>
        <tr>
            <td>Fecha de Graduacion:</td>
            <td><input id="graduacion" name="graduacion" type="date" class="clase1"  ></td>
        </tr>
        <tr>
            <td>Titulo:</td>
            <td><input id="titulo" name="titulo" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td>Institucion:</td>
            <td><input id="institucion" name="institucion" type="text" class="clase1" maxlength="100"></td>
        </tr>
        <tr>
            <th  height="50" colspan="2" align="center"><h2 style="color:brown;">DATOS PROFESIONALES</h2></th>
        </tr>
        <tr>
            <td>Nombre de la empresa:</td>
            <td><input id="empresa" name="empresa" type="text" class="clase1" maxlength="80"></td>
        </tr>
        <tr>
            <td>Fecha en la que inicio a trabajar:</td>
            <td><input id="inicio" name="inicio" type="date" class="clase1" ></td>
        </tr>
        <tr>
            <td>Fecha en que finalizo:</td>
            <td><input id="final" name="final" type="date" class="clase1" ></td>
        </tr>
        <tr>
            <td>Cargo:</td>
            <td><input id="cargo" name="cargo" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td>Telefono:</td>
            <td><input id="telefono" name="telefono" type="number" class="clase1" min=1000000 max=9999999999></td>
        </tr>
        <tr>
            <th  height="50" colspan="2" align="center"><h2 style="color:brown;">REFERENCIAS</h2></th>
        </tr>
        <tr>
            <td>Nombres:</td>
            <td><input id="refnombre" name="refnombre" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td>Apellidos:</td>
            <td><input id="refapellido" name="refapellido" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td>Cedula:</td>
            <td><input id="refcedula" name="refcedula" type="number" class="clase1" min=1000000 max=9999999999 required></td>
        </tr>
        <tr>
            <td>Telefono:</td>
            <td><input id="reftelefono" name="reftelefono" type="number" class="clase1" min=1000000 max=9999999999></td>
        </tr>

    </table>                    
    <div style="color:red;">{{ error }}</div>
    <div align="Center"><input id="boton" type="submit" class="boton_personalizado" value="Validar"></div><br><br><br>
</form>
{% endblock %}