{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="ES" />
    <meta
      name="description"
      content="El Instituto Nacional nacional para Ciegos trabaja para garantizar los derechos de los colombianos con discapacidad visual en términos de inclusión social, educativa, económica, política y cultural."
    />
    <meta property="title" content="Instituto Nacional nacional para Ciegos" />
    <title>Instituto Nacional para Ciegos</title>
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/libraries/slick/slick/slick.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/slick/css/layout/slick.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/ajax-progress.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/align.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/autocomplete-loading.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/fieldgroup.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/container-inline.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/clearfix.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/details.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/hidden.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/item-list.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/js.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/nowrap.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/position-container.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/progress.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/reset-appearance.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/resize.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/sticky-header.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/system-status-counter.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/system-status-report-counters.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/system-status-report-general-info.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/tabledrag.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/tablesort.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/system/css/components/tree-child.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/blazy/css/blazy.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/blazy/css/components/blazy.loading.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/views/css/views.module.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/video_embed_field/css/video_embed_field.responsive-video.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/libraries/slick/slick/slick-theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/custom/calendario/css/styles.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/custom/transparencia/css/styles.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/custom/transparency/css/styles.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/varbase_media/css/varbase_media.common.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/dhtmlxscheduler.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/custom/parrilla/css/styles.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/core/modules/layout_discovery/layouts/onecol/onecol.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/slick/css/theme/slick.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/modules/contrib/slick/css/theme/slick.theme--default.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/base/bootstrap.base.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/base/vartheme_bs4.base.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/layout/edge2edge.layout.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/layout/equal-height.layout.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/layout/print.layout.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/user.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/progress-bar.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/affix.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/alerts.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/book-navigation.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/book.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/breadcrumb.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/comments.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/contextual.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/details.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/dropbutton.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/feed-icon.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/field.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/file.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/form.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/header.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/help.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/icons.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/image-button.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/indented.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/item-list.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/list-group.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/node-preview.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/node.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/page.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/search-form.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/shortcut.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/sidebar-collapse.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/sidebar.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/site-footer.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/skip-link.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/table.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/tabledrag.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/tableselect.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/tablesort-indicator.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/tablesort.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/tabs.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/textarea.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/ui-dialog.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/ui-widget.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/vertical-tabs.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/views.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/ajax.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/autocomplete.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/bs-callouts.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/navbar.admin.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/navbar.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/varicons.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/components/vb-tags.component.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_sub/css/custom.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/theme/header.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/theme/content.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/theme/footer.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/theme/vbp-colors.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
    />
    <link
      rel="stylesheet"
      media="all"
      href="http://www.inci.gov.co/themes/vartheme_bs4/css/theme/betterlogin.theme.css?qyio12"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <script src="http://www.inci.gov.co/libraries/blazy/blazy.js?v=1.x"></script>
  </head>
  <body
    class="layout-no-sidebars page-node-1734 path-frontpage page-node-type-page"
  >
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
      <header title="Región encabezado">
        <section class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <p class="h1 text-center" style="color: red">
              PÁGINA RÉPLICA DEL INCI CON FINES ACADÉMICOS
            </p>
          </div>
          <div class="col-1"></div>
        </section>
        
        <section
          class="navbar blue-background py-0"
          aria-label="Cabecera Gobierno de Colombia"
        >
          <div class="container p-0">
            <div id="first-logo" class="col-md-6 w-50">
              <section class="row region region-first-header-logo">
                <div id="block-govco-2" class="block block-block-content">
                  <div class="content">
                    <div
                      class="
                        clearfix
                        text-formatted
                        field
                        field--name-body
                        field--type-text-with-summary
                        field--label-hidden
                        field__item
                      "
                    >
                      <p>
                        <a target="_blank"
                          ><img
                            alt="Logo Gobierno de Colombia"
                            class="ml-4"
                            src="http://www.inci.gov.co/sites/default/files/inline-images/logo-alpha_0.png"
                        /></a>
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div id="second-logo" class="col-md-6 w-50">
              <section class="row region region-second-header-logo">
                <div
                  id="block-logocolombia-2"
                  class="
                    block
                    block-block-content
                    block-block-contente820f9d6-0570-4389-ade1-251399eefc8a
                  "
                >
                  <div class="content">
                    <div
                      class="
                        clearfix
                        text-formatted
                        field
                        field--name-body
                        field--type-text-with-summary
                        field--label-hidden
                        field__item
                      "
                    >
                      <p>
                        <img
                          alt="Logo Marca país"
                          data-entity-type="file"
                          data-entity-uuid="f9b0a354-065c-4589-bbba-6b514bd6bc32"
                          height="38"
                          src="http://www.inci.gov.co/sites/default/files/inline-images/colombiam_1.png"
                          width="38"
                        />
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>

        <section title="Logotipos y enlaces a entidades" class="navbar">
          <div class="container p-0">
            <div class="navbar-brand mr-md-auto">
              <section class="row ml-3 region region-navigation">
                <a href="#" title="Inicio" rel="home" class="navbar-brand">
                  <img
                    src="https://i.ibb.co/wRQxn2H/logoincio.png"
                    alt="Logotipo instituto nacional para ciegos, lleva al Inicio"
                    class="img-fluid d-inline-block align-top"
                  />
                </a>
              </section>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
              <div id="gov-logo" class="pull-right">
                <section class="row region region-gov-logo">
                  <div
                    id="block-logosgobierno-2"
                    class="
                      block
                      block-block-content
                      block-block-contentc9cfe82b-9d1c-42ef-aedb-0dd4afd82236
                    "
                  >
                    <div class="content">
                      <div
                        class="
                          clearfix
                          text-formatted
                          field
                          field--name-body
                          field--type-text-with-summary
                          field--label-hidden
                          field__item
                        "
                      >
                        <p>
                          <img
                            alt="Logo Ministerio de educación"
                            class="d-none d-md-block"
                            data-entity-type="file"
                            data-entity-uuid="0eee588f-9776-4fb5-8a49-5322d867e4c0"
                            src="http://www.inci.gov.co/sites/default/files/inline-images/mineducacionok.png"
                          />
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <section class="row">
              <div class="2"></div>      
              <div class="col-8 center">
              <button style=" display: block;
              width: 55px;
              height: 55px;
              line-height: 0px;
              text-align: center;
              border-radius: 100%;
              " onclick="invocarAccesible()" ><img alt="Boton para cambiar a pagina accesible" src="https://i.ibb.co/DYsfrYr/boton-accesible.png"></button>
              </div>
              <div class="2"></div>      
        </section>
          </div>
        </section>
        <nav
          class="
            navbar navbar-light
            bg-light
            navbar-expand-lg
            mb-4
            blue-background
          "
          id="navbar-main"
          id="navbar"
          title="Menú principal"
        >
          <div class="container">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-controls="navbar-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div
              id="navbar-collapse"
              class="
                navbar-collapse
                collapse
                blue-background
                navbar-nav
                mx-auto
              "
            >
              <section
                class="
                  navbar-collapse
                  d-flex
                  flex-wrap
                  ml-3
                  region region-navigation-collapsible
                "
              >
                <nav
                  role="navigation"
                  id="block-vartheme-sub-main-menu"
                  class="block block-menu navigation menu--main"
                >
                  <ul class="clearfix nav navbar-nav">
                    <li class="nav-item">
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'inicio' %}"
                        class="nav-link is-active"
                        >Inicio</a
                      >
                    </li>
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'elinstituto' %}"
                        class="nav-link"
                        >El Instituto</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'blog' %}"
                        class="nav-link"
                        >Blog INCI</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'formulario' %}"
                        class="nav-link"
                        >Formulario</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'participa' %}"
                        title="Participación Ciudadana"
                        class="nav-link"
                        >Participa</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        onmouseover="this.style.color='black';"
                        onmouseout="this.style.color='white';"
                        style="color: white"
                        href="{% url 'atencion' %}"
                        title="Atención y Servicios a la Ciudadanía"
                        class="nav-link"
                        data-drupal-link-system-path="node/3199"
                        >Atención y Servicios a la Ciudadanía</a
                      >
                    </li>
                  </ul>
                </nav>
                <div
                  class="
                    search-block-form
                    block block-search block-search-form-block
                  "
                  id="block-formulariodebusqueda-2"
                  role="search"
                >
                  <div class="content container-inline">
                    <div class="content container-inline">
                      <form
                        id="search-block-form"
                        accept-charset="UTF-8"
                        class="search-form search-block-form form-row"
                      >
                        <fieldset
                          class="
                            js-form-item js-form-type-search
                            form-type-search
                            js-form-item-keys
                            form-item-keys form-no-label form-group
                          "
                        >
                          <label for="edit-keys" class="sr-only">Buscar</label>
                          <input
                            title="Escriba lo que quiere buscar."
                            type="search"
                            id="edit-keys"
                            name="keys"
                            value=""
                            size="15"
                            maxlength="128"
                            class="form-search form-control"
                          />
                        </fieldset>
                        <div
                          class="form-actions js-form-wrapper form-group"
                          id="edit-actions"
                        >
                          <input
                            type="submit"
                            id="edit-submit"
                            value="Buscar"
                            class="
                              button
                              js-form-submit
                              form-submit
                              btn btn-primary
                              form-control
                            "
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </nav>
      </header>

  {% block content %}{% endblock %}

  <div class="footer-wrapper bg-inciColor">
    <section class="footer container" title="Pie de página">
      <section class="region region-footer">
        <div
          id="block-contacto-2"
          class="
            block
            block-block-content
            block-block-content94301473-a11c-44e0-8b48-c4e256bef9f2
          "
        >
          <div class="content">
            <div
              class="
                clearfix
                text-formatted
                field
                field--name-body
                field--type-text-with-summary
                field--label-hidden
                field__item
              "
            >
              <footer class="text-white" style="background-color: #153d8a">
                <div class="container">
                  <div class="row d-flex align-items-center py-4 px-3">
                    <div class="col-md-8 text-center text-md-left">
                      <h2 class="m-0 h3 text-white font-weight-bold">
                        Instituto Nacional Para Ciegos
                      </h2>
                    </div>
                    <div class="col-md-4">
                      <img
                        class="d-none d-md-block"
                        src="https://www.inci.gov.co/sites/default/files/footer/logoinciblanco.png"
                        alt="Logo Instituto Nacional Para Ciegos"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li>Dirección: ---</li>
                        <li>Código Postal para la República de Colombia: ---</li>
      
                        <li>
                          Horario de atención: <br />
                          ---
                        </li>
                        <br />
                        <li>
                          Teléfono Conmutador: ---
                        </li>
                        <li>Teléfono Celular: ---</li>
                        <li>Whatsapp: ---</li>
                        <br />
                        <li>
                          Correo Institucional: ---
                         
                        </li>
                        <li>
                          Correo Transparencia: ---
                        </li>
                        <li>
                          Correo de notificaciones judiciales: ---
                        </li>
                        <br />
                        <li>
                          <a
                            class="text-warning"
                            href=""
                            target="_blank"
                            >Política de privacidad y condiciones de uso</a
                          >
                        </li>
                        <li>
                          <a class="text-warning" href="#"
                            >Mapa del sitio</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="d-flex p-2">
                    <div class="px-4 py-3 text-center">
                      <a
                        href=""
                        target="_blank"
                      >
                        <img
                          class="mb-1"
                          src="https://www.inci.gov.co/sites/default/files/footer/facebook.png"
                          alt="Logo, Facebook"
                        />
                        <p class="text-warning m-0">Facebook</p>
                      </a>
                    </div>
                    <div class="px-4 py-3 text-center">
                      <a
                        href=""
                        target="_blank"
                      >
                        <img
                          class="mb-1"
                          src="https://www.inci.gov.co/sites/default/files/footer/twitter.png"
                          alt="Logo, Facebook"
                        />
                        <p class="text-warning m-0">Twitter</p>
                      </a>
                    </div>
                    <div class="px-4 py-3 text-center">
                      <a
                        href=""
                        target="_blank"
                      >
                        <img
                          class="mb-1"
                          src="https://www.inci.gov.co/sites/default/files/footer/youtube.png"
                          alt="Logo, Facebook"
                        />
                        <p class="text-warning m-0">Youtube</p>
                      </a>
                    </div>
                  </div>
                </div>
              </footer>
              <div class="p-3" style="background-color: #3366cc">
                <div class="container d-flex align-items-center">
                  <div class="col-md-6 d-flex align-items-center">
                    <img
                      src="https://www.inci.gov.co/sites/default/files/footer/logo_marcaColombia.png"
                      alt="Logo marca Colombia"
                    />
                    <div class="p-2"></div>
                    <img
                      src="https://www.inci.gov.co/sites/default/files/footer/logo_govco.png"
                      alt="Logo Estrategía Gov.co"
                    />
                  </div>
                  <div class="col-md-6 text-right">
                    <a
                      class="text-white"
                      href=""
                      target="_blank"
                      >Conoce GOV.CO aquí</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>


<script >
  function invocarAccesible() {
    window.location.href="{% url 'ainicio' %}"
  }
  </script>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="http://www.inci.gov.co/core/assets/vendor/jquery/jquery.min.js?v=3.5.1"></script>
<script src="http://www.inci.gov.co/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.3"></script>
<script src="http://www.inci.gov.co/core/misc/drupalSettingsLoader.js?v=8.9.3"></script>
<script src="http://www.inci.gov.co/sites/default/files/languages/es_bwEQtpRgX2dvy-1efQ5bl68ElINVmMySgmh48e_xKKg.js?qyio12"></script>
<script src="http://www.inci.gov.co/core/misc/drupal.js?v=8.9.3"></script>
<script src="http://www.inci.gov.co/core/misc/drupal.init.js?v=8.9.3"></script>
<script src="http://www.inci.gov.co/modules/contrib/blazy/js/dblazy.js?qyio12"></script>
<script src="http://www.inci.gov.co/libraries/slick/slick/slick.min.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/contrib/blazy/js/blazy.load.js?qyio12"></script>
<script src="http://www.inci.gov.co/modules/custom/calendario/js/functions.js?v=1.x"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/popper/popper.min.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/bootstrap/bootstrap.min.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/bootstrap_barrio/affix.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/bootstrap_barrio/global.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/bootstrap_barrio/sidebar-collapse.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/misc/attributes.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/misc/theme.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/misc/ajax.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_bs4/js/scripts.js?qyio12"></script>
<script src="http://www.inci.gov.co/themes/vartheme_sub/js/scripts.js?qyio12"></script>
<script src="http://www.inci.gov.co/modules/custom/transparencia/js/functions.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/transparency/js/functions.js?v=1.x"></script>
<script src="http://www.inci.gov.co/core/misc/debounce.js?v=8.9.3"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/dhtmlxscheduler.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/ext/dhtmlxscheduler_collision.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/ext/dhtmlxscheduler_recurring.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/sources/locale/locale_es.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/scheduler/codebase/sources/locale/recurring/locale_recurring_es.js?v=1.x"></script>
<script src="http://www.inci.gov.co/modules/custom/parrilla/js/functions.js?v=1.x"></script>
<script src="http://www.inci.gov.co/core/modules/statistics/statistics.js?v=8.9.3"></script>
<script src="http://www.inci.gov.co/modules/contrib/slick/js/slick.load.min.js?v=8.9.3"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    $("#advertencia_modal").modal("show");
  });
</script>
</body>
</html>