{% extends "noAccesible/layout.html" %}

{% block content %}

<div class="main-container container js-quickedit-main-content">
    <div class="row">
        <div class="col-sm-12">
            <div data-drupal-messages-fallback class="hidden"></div>
            <div id="block-pagetitle" class="block block-core block-page-title-block">


                <div class="content">

                    <h1 class="title"><span property="dc:title"
                            class="field field--name-title field--type-string field--label-hidden">Participa</span>
                    </h1>


                </div>
            </div>
        </div>
        <section class="main-content col order-last col-sm-12" id="content" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="news-block" class=""></div>
                    </div>
                </div>
            </div>
            <div id="block-vartheme-sub-system-main" class="block block-system block-system-main-block">


                <div class="content">
                    <div data-history-node-id="3778" class="layout layout--onecol">
                        <div class="layout__region layout__region--content">

                            <div property="content:encoded"
                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p><img class="container" alt="Imagen, Participación Instituto Nacional para Ciegos"
                                        data-entity-type="file" data-entity-uuid="4c6324ff-0fb8-4f3d-8c89-a73a357a7c1c"
                                        src="https://i.ibb.co/q5B4Ffd/p1.jpg"   /></p>
                                <div class="p-3">
                                    <p class="text-center">Dé clic sobre el contenido de su interés para ampliar la
                                        información.</p>
                                    <div class="row">
                                        <div class="col-md-6 p-4 text-center">
                                            <a target="_blank" href="participa/identificacion.html">
                                                <p class="m-0">Participación para la identificación de problemas y
                                                    diagnóstico de necesidades</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6 p-4 text-center">
                                            <a target="_blank" href="https://inci.gov.co/participa/consulta-ciudadana">
                                                <img class="mb-3" src="sites/default/files/logosParticipa2.png" alt="">
                                                <p class="m-0">Participación y consulta ciudadana de proyectos, normas,
                                                    políticas y programas</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6 p-4 text-center">
                                            <a target="_blank" href="rendicion2020.html">
                                                <img class="mb-3" src="sites/default/files/logosParticipa3.png" alt="">
                                                <p class="m-0">Rendición de cuentas</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6 p-4 text-center">
                                            <a href="participa/control-ciudadano.html">
                                                <img class="mb-3" src="sites/default/files/logosParticipa4.png" alt="">
                                                <p class="m-0">Control ciudadano</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6 p-4 text-center">
                                            <a target="_blank"
                                                href="transparencia/62-planeacion-yo-presupuesto-participativo.html">
                                                <img class="mb-3" src="sites/default/files/logoparticipa5.png" alt="">
                                                <p class="m-0">Participación y/o presupuesto participativo</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6 p-4 text-center">
                                            <a target="_blank" href="https://elearning.inci.gov.co/">
                                                <img class="mb-3" src="sites/default/files/logoparticipa6.png" alt="">
                                                <p class="m-0">Colaboración e innovación abierta</p>
                                            </a>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>
                </div>


        </section>

    </div>
</div>
{% endblock %}