{% extends "Accesible/Alayout.html" %}

{% block content %}
<div class="main-container container js-quickedit-main-content">
    <div class="row">
        <div class="col-sm-12">
            <div data-drupal-messages-fallback="" class="hidden"></div>
            <div id="block-pagetitle" class="block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title"><span tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" property="dc:title"
                            class="field field--name-title field--type-string field--label-hidden">Atención y Servicios
                            a la Ciudadanía</span>
                    </h1>
                </div>
            </div>
        </div>
        <section class="main-content col order-last col-sm-12" id="content" role="main">
            <a id="main-content"></a>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="news-block" class=""></div>
                    </div>
                </div>
            </div>
            <div id="block-vartheme-sub-system-main" class="block block-system block-system-main-block">


                <div class="content">
                    <div data-history-node-id="3199" class="layout layout--onecol">
                        <div class="layout__region layout__region--content">

                            <div property="content:encoded"
                                class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <div class="my-2 mb-3">
                                    <img class="container" tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()"
                                        src="https://i.ibb.co/2Kx83dT/Aa1.png" alt="Imagen Accesible de Atención al ciudadano">
                                </div>

                                <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Bienvenido al Sistema de Atención al Ciudadano del Instituto Nacional para Ciegos
                                    INCI.</h2>
                                <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                                    En este sistema usted podrá: radicar requerimientos sobre consultas, quejas o
                                    reclamos, sugerencias,
                                    felicitaciones y trámites y podrá consultar en cualquier momento el estado de los
                                    requerimientos registrados
                                    de una forma rápida y efectiva.</p>
                                <div class="py-2"></div>
                                <div class="row">
                                    <div class="col-md-12 my-3 text-center">
                                        <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Servicios al ciudadano</h2>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="far fa-address-book fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a tabindex="-1" href="#" target="_blank"
                                            class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">PQRSD</h3>
                                        </a>
                                        <small tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Mecanismos para presentar Peticiones, Quejas, Reclamos, Sugerencias y
                                            Denuncias de competencia
                                            del Instituto Nacional para Ciegos</small>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="far far fa-newspaper fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a  tabindex="-1" href="#"
                                            target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Trámites y Servicios</h3>
                                        </a>
                                        <small tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Conozca y acceda al listado de trámites y servicios disponibles en el
                                            Instituto Nacional para
                                            Ciegos</small>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="far fa-question-circle fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a  tabindex="-1" href="#"
                                            target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Preguntas frecuentes</h3>
                                        </a>
                                        <small tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Conozca y acceda a la lista de preguntas ciudadanas y respuestas del
                                            Instituto Nacional para
                                            Ciegos</small>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="far fa-comments fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a  tabindex="-1" href="#"
                                            target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Canales de atención</h3>
                                        </a>
                                        <small tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Consulte los diferentes canales de atención al ciudadano del Instituto,
                                            donde podrán gestionar
                                            trámites, consultas, quejas y sugerencias</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 my-3 text-center">
                                        <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Consultas</h2>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="fas fa-landmark fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a tabindex="-1" href="#"
                                            target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Politica de datos</h3>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="far far fa-hand-paper fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a tabindex="-1" href="#" target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Transparencia</h3>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="fas fa-blind fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a tabindex="-1" href="#"
                                            target="_blank" class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Carta Trato Digno</h3>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <i style="color: #153D8A;" class="fas fa-user-friends fa-4x p-4"
                                            aria-hidden="true"></i>
                                        <a tabindex="-1" href="#"
                                            class="card-link">
                                            <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Protocolo de Atención al Ciudadano</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">PETICIÓN: Es cualquier solicitud que haga el usuario al
                                        prestador del servicio, que
                                        se relacione con el servicio que se le presta. Estas pueden ser de interés
                                        general, interés particular,
                                        petición de información y consulta. (ver Código Contencioso Administrativo).</p>

                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">QUEJA: Es la formalización de una no conformidad en el
                                        servicio percibida por el
                                        cliente. Normalmente el usuario puede quejarse por: la forma y condiciones en
                                        que se le ha prestado el
                                        servicio, la actuación de algún funcionario de la entidad que ofrece el
                                        servicio.</p>

                                    <p><span tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">RECLAMO: Es una solicitud
                                            para que la entidad revise, ajuste o modifique los resultados obtenidos por
                                            el cliente frente a un
                                            servicio requerido por él.</span></p>

                                    <p><span tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">SUGERENCIA: 
                                            Es la manifestación de una idea o propuesta para mejorar la prestación del
                                            servicio o la gestión de
                                            la Entidad.</span></p>

                                    <p><span tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">DENUNCIA: 
                                            Es la puesta en conocimiento ante una autoridad competente de una conducta
                                            posiblemente irregular,
                                            para que se adelante la correspondiente investigación penal, disciplinaria,
                                            fiscal, administrativa -
                                            sancionatoria o ético profesional.</span></p>

                                    <hr class="my-3">

                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">El Servicio de Atención al Ciudadano, brinda información y orientación pertinente
                                        y oportuna sobre los
                                        servicios institucionales y aquellos que ofertan los sistemas públicos a las
                                        personas con limitación
                                        visual y sus colectivos, instituciones públicas y privadas y a la población en
                                        general.</p>

                                    <hr class="my-3">

                                    <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Para dar respuesta a los requerimientos y satisfacer las necesidades de
                                        información de la población y
                                        las instituciones, la entidad pone a disposición los siguientes canales de
                                        comunicación:</h3>

                                    <hr class="my-3">

                                    <ol>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Presencia : Carrera 13 No 34-91- Bogotá; Oficina de Atención
                                            al Ciudadano del INCI,
                                            Lunes a Viernes de 8:00 am a 5:00 pm.</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Vía telefónica : A través del teléfono 384 66 66 Extensión
                                            110.</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Número celular : 316-874 10 14</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Whatsapp  Al número: 3168741014 o en el siguente link </li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Correo electrónico : A través del correo mailto:%20aciudadano@inci.gov.co,
                                            se da
                                            respuesta a las solicitudes. Si se dispone de la información, se responden
                                            el mismo día. Cuando se
                                            trata de solicitudes realizadas después de las 4:00 p.m., se responden al
                                            día siguiente. Si se
                                            requiere de la intervención de alguno de los programas, estos tienen tres
                                            días hábiles para
                                            responder a los ciudadanos y a las entidades.</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Formulario de registro de peticiones, quejas y reclamos:</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Consulte su petición queja o reclamo:</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Redes Sociales:A través de nuestro</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()"> Puede comunicarse con nosotros por medio de skype aaciudadano-inci.
                                        </li>
                                    </ol>



                                    <h3 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Para dar Cumplimiento al artículo 75 de la Ley 1474 de 2011 el Ciudadano puede
                                        presentar:</h3>

                                    <ol>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Denuncia de actos de corrupción.</li>
                                        <li tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Sugerencias para modificar la prestación del servicio.</li>
                                    </ol>

                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">A través de cualquiera de los medios anteriormente expuestos. 
                                    </p>


                                </div>
                            </div>



                        </div>
                    </div>


                </div>
            </div>


        </section>

    </div>
</div>
{% endblock %}