{% extends "Accesible/Alayout.html" %}

{% block content %}

<div class="main-container container js-quickedit-main-content">
  <div class="row">
    <div class="col-sm-12">
      <div id="block-breadcrumbs" class="block block-system block-system-breadcrumb-block">
        <div class="content">
          <nav role="navigation" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" href="/">Inicio</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div data-drupal-messages-fallback="" class="hidden"></div>
      <div id="block-pagetitle" class="block block-core block-page-title-block">
        <div class="content">
          <h1 class="title" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Blog INCI</h1>
        </div>
      </div>
    </div>
    <section class="main-content col order-last col-sm-12" id="content" role="main">
      <a id="main-content"></a>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="news-block" class=""></div>
          </div>
        </div>
      </div>
      <div id="block-vartheme-sub-system-main" class="block block-system block-system-main-block">
        <div class="content">
          <div class="views-element-container">
            <div
              class="view view-blog-inci view-id-blog_inci view-display-id-page_1 js-view-dom-id-5907667a9a1d38443dd0da08a8cdeff22bad4b947486d37dc6117beb0e8892fe">
              <div class="view-filters">
                <form class="views-exposed-form" data-drupal-selector="views-exposed-form-blog-inci-page-1"
                  action="/ablog" method="get" id="views-exposed-form-blog-inci-page-1" accept-charset="UTF-8">
                  <div class="form-row">
                    <fieldset
                      class="js-form-item js-form-type-select form-type-select js-form-item-tema form-item-tema form-group">
                      <legend>filtrar por</legend>
                      <label lab tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Presione tabulación y a continuación utilice las flechas para desplazarse por las diferentes opciones de temas" for="edit-tema">Tema</label>
                      <select selected="selected" data-drupal-selector="edit-tema" id="edit-tema" name="tema"
                        class="form-select form-control" onkeyup="HablarTexto(this.options[document.getElementById('edit-tema').selectedIndex])"  >
                        <option value="All"  selected="selected">- Cualquiera -</option>
                        <option value="89" >Accesibilidad</option>
                        <option value="62" >Movilidad</option>
                        <option value="9" >Universidad</option>
                        <option value="76" >Turismo</option>
                        <option value="88">Trabajo</option>
                        <option value="66">Tecnología</option>
                        <option value="57">Regiones</option>
                        <option value="70">Recomendado</option>
                        <option value="93">Radio</option>
                        <option value="100">Perro Guia</option>
                        <option value="71">Normativa</option>
                        <option value="69">Medios</option>
                        <option value="78">Asistencia Técnica</option>
                        <option value="61">Cultura</option>
                        <option value="58">Audiovisuales</option>
                        <option value="59">Braille</option>
                        <option value="73">Cifras</option>
                        <option value="68">Ciudadano</option>
                        <option value="106">Comunicados</option>
                        <option value="72">Convocatorias</option>
                        <option value="92">Derechos</option>
                        <option value="83">Instituto</option>
                        <option value="75">Discapacidad</option>
                        <option value="6">Educación</option>
                        <option value="101">Especiales</option>
                        <option value="79">Imprenta</option>
                        <option value="5">Inclusión</option>
                        <option value="60">Información</option>
                      </select>
                    </fieldset>
                    <fieldset
                      class="js-form-item js-form-type-select form-type-select js-form-item-autor form-item-autor form-group">
                      <legend>filtrar por</legend>
                      <label for="edit-autor" tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Presione tabulación y a continuación utilice las flechas para desplazarse por las diferentes opciones de autores">Autor</label>
                      <select data-drupal-selector="edit-autor" id="edit-autor" name="autor"
                        class="form-select form-control" onkeyup="HablarTexto(this.options[document.getElementById('edit-autor').selectedIndex])" >
                        <option value="All" selected="selected">- Cualquiera -</option>
                        <option value="25">Alberto Miguel Peña</option>
                        <option value="82">Alejandro Pabón Perilla</option>
                        <option value="116">Ana Patricia Hormaza</option>
                        <option value="97">Asociación Civil Calidoscopio</option>
                        <option value="95">Asociación Internacional de Radiodifusión</option>
                        <option value="96">Camilo Garnica</option>
                        <option value="24">Carlos Parra Dussan</option>
                        <option value="535">Carlos Quintero Calderón</option>
                        <option value="910">Carolina Rosas</option>
                        <option value="982">Claudia Valdés</option>
                        <option value="77">Columnista Invitado</option>
                        <option value="34">Comunicaciones INCI</option>
                        <option value="109">Edwin Beltrán</option>
                        <option value="35">Enrique Efraín King</option>
                        <option value="33">Equipo Comunicaciones</option>
                        <option value="74">Esperanza Verdugo</option>
                        <option value="91">Francisco Camargo</option>
                        <option value="905">Gloria Janneth Peña</option>
                        <option value="26">Gustavo Pulido Casas</option>
                        <option value="85">Henry Diaz</option>
                        <option value="111">Hermes Armando Cely</option>
                        <option value="94">Joaquín Restrepo</option>
                        <option value="916">Johana Hidrobo</option>
                        <option value="67">Jorge Andrés Colmenares</option>
                        <option value="107">Jorge Colmenares</option>
                        <option value="98">Juan Antonio Cortes Fuentes</option>
                        <option value="86">Juan Carlos Rodríguez</option>
                        <option value="55">Juan Esteban Gómez</option>
                        <option value="63">Kenlly Olaya Nieto</option>
                        <option value="899">Leidy Hoyos</option>
                        <option value="30">Luis Carlos Villamizar Navarro</option>
                        <option value="31">Luisa Moreno</option>
                        <option value="90">María del Rosario Yepes</option>
                        <option value="458">María Fernanda Rengifo</option>
                        <option value="87">María Helena Cruz</option>
                        <option value="904">Martha Emilia Castro</option>
                        <option value="909">Ministerio de Salud y Protección Social</option>
                        <option value="38">Miryam Herrera</option>
                        <option value="104">Myriam Cristina López</option>
                        <option value="39">Nathalia López G</option>
                        <option value="27">Nelson Julián Villamizar</option>
                        <option value="110">Nicole Cubillos</option>
                        <option value="108">Patricia Montoya</option>
                        <option value="28">Paula Castaño</option>
                        <option value="37">Pedro Andrade Lozada</option>
                        <option value="105">Ricardo Hernández</option>
                        <option value="917">Ronys López Ayazo</option>
                        <option value="114">Sandra Castro</option>
                        <option value="64">Sandra Cortés</option>
                        <option value="32">Sandra Mabel</option>
                        <option value="36">Santiago Adolfo Rodríguez</option>
                        <option value="115">Sergio Alejandro de Jesús González</option>
                        <option value="99">Unión Internacional de Telecomunicaciones</option>
                        <option value="981">William Gutiérrez</option>
                        <option value="113">William Moreno</option>
                        <option value="103">Yaneth Mantilla</option>
                        <option value="112">Yolanda Parra Gamba</option>
                      </select>
                    </fieldset>
                    <fieldset
                      class="js-form-item js-form-type-select form-type-select js-form-item-type form-item-type form-group">
                      <legend>filtrar por</legend>
                      <label for="edit-type" tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Presione tabulación y a continuación utilice las flechas para desplazarse por las diferentes opciones de tipos">Tipo de publicación</label>
                      <select data-drupal-selector="edit-type" id="edit-type" name="type"
                        class="form-select form-control" onkeyup="HablarTexto(this.options[document.getElementById('edit-type').selectedIndex])">
                        <option value="All" selected="selected">- Cualquiera -</option>
                        <option value="incidigital">Incidigital</option>
                        <option value="inpulso">Inpulso</option>
                        <option value="noticias">Noticias</option>
                      </select>
                    </fieldset>
                    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-group"
                      id="edit-actions">
                      <input data-drupal-selector="edit-submit-blog-inci" type="submit" id="edit-submit-blog-inci"
                        value="Buscar" class="button js-form-submit form-submit btn btn-primary form-control">
                    </div>
                  </div>
                </form>
              </div>
              <div class="view-content">
                <div data-drupal-views-infinite-scroll-content-wrapper=""
                  class="views-infinite-scroll-content-wrapper clearfix">
                  <div class="views-view-grid horizontal cols-3 clearfix col">
                    <div class="row views-row clearfix row-1">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Enlace Festival de Cine para ciegos cuarta edición</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen post cuarto festival de cine para ciegos del 29 al 01 de noviembre"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/SVCzWqk/b1.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p class="text-align-justify" paraeid="{fbe6d2e4-2529-479e-ae6b-f0f1346581b5}{165}"
                            paraid="1459739259" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >A nivel mundial en la industria...</p>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                            href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Consejos y cuidados para mejorar la vida de las personas con baja visión</a>
                        </h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Niño con baja visión en el aula"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/v4nGL6c/b2.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Es importante mantener una buena salud visual y para lograrlo hay que evitar los
                            hábitos que conllevan un esfuerzo o fatiga de la vista,...</p>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Amar nuestros
                            ojos</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Primer plano de un Ojo humano"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/sP7R99D/b3.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <blockquote>
                            <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >“Tú me quisiste cuando niño. Y eso quiere decir para siempre”</p>
                          </blockquote>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-2">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">La cultura es de y para todos; es un Derecho Humano</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="varias culturas en imagenes animadas aparecen sobre un fondo blanco"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/02yZR6Y/b4.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p class="text-align-justify" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Para comenzar la consideración de la cultura necesaria para la
                            humanidad, hago las siguientes consideraciones.</p>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                          href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >¡Quedan pocos días para participar en el concurso el braille cuenta!</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Concurso nacional de cuento en braille"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/sFhgyS7/b5.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()"> Si la escritura es lo suyo y quiere poner a prueba su creatividad, participe en la cuarta
                            edición del Concurso Nacional de Cuento “El braille...</p>
                        </div>
                      </div>

                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Buzón INCI, los ciudadanos escriben</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo, Buzón INCI" class="media__image media__element b-lazy img-fluid b-loaded"
                            loading="lazy"
                            src="https://i.ibb.co/PGZwSyV/b6.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Rosarito Salazar Pérez, escribe a a través de Facebook lo siguiente: Buenas tardes. Quisiera adquirir un bastón.</p>
                          <p>...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-3">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">El INCI en
                            agenda pública</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Noticiero Canal capital "
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/Dt9rpnK/b7.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">En el Día Mundial de la Visión, el Instituto Nacional para Ciegos -INCI promovió el uso de
                            tres aplicaciones que prestan servicios claves para la...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                          href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">¿Dónde puedo comprar productos especializados para ciegos?</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Imagen de la tienda INCI"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/2Yh7YRZ/b8.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">¡En la Tienda INCI! Conozca los horarios de apertura al público, las categorías de
                            productos y canales de contacto para los usuarios.&nbsp;</p>...
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">INCI en las regiones: Isla de San Andrés</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Equipo técnico del INCI en San Andrés"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/jLTKqNk/b9.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Como parte de las comisiones que el Instituto Nacional para Ciegos -INCI, viene
                            desarrollando en el 2021, en el territorio nacional, el...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-4">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                          href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">¡Haga parte de la preparación de la Rendición de Cuentas INCI 2021!</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Rendición de cuentas INCI 2021"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/VHLnrpR/b10.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Con el objetivo de mantener informados a los ciudadanos y Entidades del Orden Nacional,
                            sobre la gestión administrativa; el INCI en ejercicio de...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Ojo a sus ojos</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Persona recibiendo un examen de ojos"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/W0rV3nb/b11.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Quise escribir este artículo para retransmitir las recomendaciones de los médicos y algunos
                            síntomas que le podrían alertar si necesita una visita...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">No nos
                            frotemos los ojos</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Persona frotándose los ojos"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/RyFB8BC/b12.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">En esta editorial de nuestra revista INCIDigital, he querido hacer unas reflexiones acerca
                            de la mala práctica que algunas personas ciegas tienen...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-5">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">El INCI en
                            agenda pública</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo, Noticias Uno" class="media__image media__element b-lazy img-fluid b-loaded"
                            loading="lazy"
                            src="https://i.ibb.co/xM5zSRL/b13.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">A propósito del Día Mundial de la Visión, el 14 de octubre, el Director del INCI, Carlos
                            Parra Dussan entregó a los televidentes de Noticias Uno,...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Consultorio
                            jurídico INCI</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Logo consultorio Jurídico"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/db3NYKQ/b14.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">En el año 2017 el INCI abrió sus puertas con el Consultorio Jurídico para atender a
                            personas con discapacidad visual que necesitaran de asesoría...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Buzón INCI, los ciudadanos escriben</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo, Buzón INCI" class="media__image media__element b-lazy img-fluid b-loaded"
                            loading="lazy"
                            src="https://i.ibb.co/r7WMwVh/b15.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">John Byron Solarte Arevalo pregunta a través de Facebook: Buenas tardes me gustaría saber
                            el valor de estos dos productos y si tienen envío a Cali...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-6">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Día Mundial de la Visión: claves para amar los ojos</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Día Mundial de la Visión"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/qgQ6pVd/b16.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">1. Una buena higiene evita que los ojos sean alcanzados por microorganismos y estén
                            expuestos a infecciones, por eso no se pase las manos sucias...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                          href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Nuevo sistema de gestión de la Imprenta Nacional para Ciegos</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Operador de la imprenta manipulando una máquina"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/GTJRrb9/b17.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Desde el Grupo de Unidades Productivas del Instituto Nacional para Ciegos –INCI, nos
                            complace contarles a nuestros lectores que ahora la Imprenta...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">15
                            de octubre: Día del bastón blanco</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Imagen, Día mundial del bastón blanco"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/V3sYnFF/b18.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">En este día, el Instituto Nacional para Ciegos -INCI invita a los colombianos con
                            discapacidad visual a que utilicen sus bastones con orgullo...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-7">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">10 datos importantes para escribir un cuento </a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Concurso el braille cuenta"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/cgzS02Q/b19.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Si está pensando en participar en la cuarta edición del Concurso Nacional del Cuento que
                            convoca el Instituto Nacional para Ciegos -INCI con el...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                          href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Beneficios tributarios para empresas que contratan personas con
                            discapacidad</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Persona con discapacidad trabajando en casa"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/NyymJsn/b20.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Si su empresa es incluyente y quiere contratar a personas ciegas o con baja visión, el
                            Instituto Nacional para Ciegos -INCI es la entidad que...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#" hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">¡INCI en
                            agenda pública!</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo, Javeriana Estéreo"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/X8scrD0/b21.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">En el programa Bitácora de la emisora Javeriana Estéreo 91.9 F.M., el Director del INCI,
                            Dr. Carlos Parra Dussan conversó con el equipo de...</p>
                        </div>
                      </div>
                    </div>

                    <div class="row views-row clearfix row-8">
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Y, ¿cómo vamos en dotación de material especializado?</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Fotografía, Publicaciones en braille para niños"
                            class="media__image media__element b-lazy img-fluid b-loaded" loading="lazy"
                            src="https://i.ibb.co/rpBjfjp/b22.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Así como el año inmediatamente anterior, el inicio del año 2021 se caracterizó por la
                            coyuntura de la emergencia sanitaria a causa de la pandemia...</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Buzón INCI, los ciudadanos escriben</a></h2>
                        <div class="media media--bundle--image media--blazy media--image is-b-loaded">
                          <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo, Buzón INCI" class="media__image media__element b-lazy img-fluid b-loaded"
                            loading="lazy"
                            src="https://i.ibb.co/6Zn9QGG/b23.jpg"
                            width="553" height="355" typeof="foaf:Image">
                        </div>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Daniela Acosta escribió a través de la Oficina de Atención al Ciudadano, al correo mailto:aciudadano@inci.gov.co</p>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                        <h2 class="mb-3"><a
                            href="#"
                            hreflang="es" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Invitación pública N° 001 de 2021 para manifestación de interés para
                            participar en convenio con aporte en efectivo</a></h2>
                        <div class="mb-3 mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">El Instituto Nacional para Ciegos -INCI presenta la invitación pública No.001 de 2021 para
                            presentar propuesta para desarrollar el proyecto de...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="feed-icons">
                <a tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" href="#" class="feed-icon">
                  Suscribirse a Blog INCI
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}