{% extends "Accesible/Alayout.html" %}

{% block content %}
    <section class="row">
    <div class="col-6">
      <ul class="list-group">
        <li id="ls1" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">El Director</li>
        <li id="ls2" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Marco Estratégico</li>
        <li id="ls3" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Misión</li>
        <li id="ls4" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Visión</li>
        <li id="ls5" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Objetivo Estratégico</li>
        <li id="ls6" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Funciones</li>
        <li id="ls7" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Organigrama</li>
        <li id="ls8" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Equipo de Trabajo</li>
        <li id="ls9" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Código de Trabajo</li>
        <li id="ls10" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="list-group-item list-group-item-action display-6">Aliados</li>
      </ul>
    </div>
    </section>
    <section class="row">
        <br>
    </section>
      <section class="row">

      <h1 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="display-6">
        El Instituto Nacional para Ciegos -INCI es una entidad de carácter técnico asesor adscrita al Ministerio de Educación, creada mediante el Decreto 1955 del 15 de Julio de 1955.
      </h1>
      <h1 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="display-6">
        Desde su creación el INCI trabaja para garantizar los derechos de los
        colombianos ciegos y con baja visión en términos de inclusión social,
        educativa, económica, política y cultural.
    </h1>
      <h1 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="display-6">
        Actualmente el INCI está regido por el Decreto 1006 de 2004 que modificó
        su estructura institucional situándolo como un establecimiento público
        del orden nacional con personería jurídica, autonomía administrativa y
        financiera y patrimonio independiente.
    </h1>
      <h1 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="display-6">
        Brindamos servicios de asistencia técnica y asesoría a las demás
        entidades que a nivel nacional, territorial y local tienen a cargo la
        atención de las personas con discapacidad visual en el país.
    </h1>
      </section>
    </div>
  </body>
</html>
{% endblock %}