{% extends "Accesible/Alayout.html" %}

{% block content %}
<h1 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" id="h1s" onmousemove="HablarTexto(this)" onmouseout="mouseOut()"  align="center">
    Hoja de Vida
</h1>

<form id='form'  method="post" align="center">
    {% csrf_token %}
    {% if error != '' %}
    <div tabindex="1"  id="error1" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:red;">{{ error }}</div>
    {%endif%}
<<<<<<< HEAD
    {% if mensajeOK == 'Registro realizado correctamente' %}
=======
    {% if mensajeOK != '' %}
>>>>>>> 5106849537fd307d31b161120539d7eb8283c21d
    <div tabindex="1"  id="error1" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:red;">{{ mensajeOK }}</div>
    {%endif%}

    <table border="1" align="Center">
        <tr>
            <th   height="50" colspan="2" align="center"><h2 id="th1" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:brown;">DATOS PERSONALES</h2></th>
        </tr>
        <tr>
            <td id="td1" onmousemove="HablarTexto(this)"  onmouseout="mouseOut()"  >Ingresar Nombre:</td>
            <td><input id="nombre" onfocus="Hablar(this)" onblur="mouseOut()" aria-label="Ingresar un nombre no mayor a 30 caracteres" onmousemove="Hablar(this)" onmouseout="mouseOut()"  name="nombre" type="text" class="clase1" placeholder="Ejemplo: Daniel Esteban" maxlength="30" required></td>
        </tr>
        <tr>
            <td id="td2" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Ingresar Apellidos:</td>
            <td><input id="apellidos" aria-label="Ingresar apellidos no mayor a 30 caracteres" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" name="apellidos" type="text" class="clase1" placeholder="Ejemplo: Martinez Martinez" maxlength="30" required></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Ingresar Numero Celular:</td>
            <td><input id="numero" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Ingrese aquí su numero de celular, recuerde que debe contener 10 números" onmousemove="Hablar('numero')" name="numero" type="number" class="clase1" placeholder="Ejemplo: 3122587896" pattern="[0-9]{10}"></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Ingresar Numero de Cedula:</td>
            <td> <input id="cedula" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Ingrese aquí su numero de cédula" onmousemove="Hablar('cedula')" name="cedula" type="number" class="clase1" placeholder="Ejemplo: 46885974"  min=1000000 max=9999999999 required></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Ingresar Fecha de Nacimiento: </td>
            <td><input id="nacimiento" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="ingrese su fecha de nacimiento. Los numeros de día, mes y año, por ejemplo: veinticuatro. doce. mil novecientos noventa y cinco" name="nacimiento" type="date" class="clase1" min=1930-01-01 max=2002-09-20></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Ingresar Correo</td>
            <td><input id="correo" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Ingrese el correo personal que es válido con @ y punto." onmousemove="HablarTexto('correo')" name="correo" type="email" class="clase1" required></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Seleccionar Estado civil:</td>
            <td><select id="civil" name="civil" class="clase1" onfocus="Hablar(this)" onblur="mouseOut()" aria-label="Escribir. s de soltero. c de casado. d de divorciado. v de viudo. ú de union libre. según sea su estado civil" onmousemove="Hablar(this)" onmouseout="mouseOut()">
            <optgroup label="Estado Civil">
              <option value="Soltero">Soltero</option>
              <option value="Casado">Casado</option>
              <option value="Divorciado">Divorciado</option>
              <option value="Viudo">Viudo</option>
              <option value="Union libre" >Union libre</option>
            </optgroup>
        </select ></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Seleccionar Sexo:</td>
            <td><input tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()"  aria-label="Presiona barra espaciadora aquí para seleccionar género masculino" id="genero" type="radio" name="genero" value="Hombre" >
            <label onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Maculino</label>
            <input tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()"  aria-label="Presiona barra espaciadora aquí para seleccionar género femenino" id="genero" type="radio"name="genero" value="mujer" >
            <label onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Femenino</label>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Cualidades:</td>
            <td><input id="chec1" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Cualidad. Atento. presiona barra espaciadora si cumples con esta cualidad" type="checkbox" name="chec1" value="Atento"> Atento<br>
                <input id="chec2" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Cualidad. Impulsivo. presiona barra espaciadora si cumples con esta cualidad" type="checkbox" name="chec2" value="Impulsivo"> Impulsivo<br>
                <input id="chec3" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Cualidad. Respetuoso. presiona barra espaciadora si cumples con esta cualidad" type="checkbox" name="chec3" value="Respetuoso"> Respetuoso<br>
                <input id="chec4" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Cualidad. Timido. presiona barra espaciadora si cumples con esta cualidad" type="checkbox" name="chec4" value="Timido"> Timido<br></td>
        </tr>
        <tr>
            <td tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" align="center">Perfil Ocupacional:</td>
            <td><textarea id="perfil" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Aquí descríbete brevemente" name="perfil" rows="10" cols="50" placeholder="Haga aquí su descripción..." class="clase1"></textarea></td>
        </tr>
        <tr>
            <th height="50" id="datosacademicos" colspan="2" align="center"><h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:brown;">DATOS ACADÉMICOS</h2></th>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Fecha de Graduacion:</td>
            <td><input id="graduacion" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()"  aria-label="Escribe aquí la fecha de graduación. solamente los numeros de día. mes y año" name="graduacion" type="date" class="clase1"  ></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Titulo:</td>
            <td><input id="titulo" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()"  aria-label="Escribe aquí el nombre del título obtenido"name="titulo" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Institucion:</td>
            <td><input id="institucion" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí el nombre de la institución " name="institucion" type="text" class="clase1" maxlength="100"></td>
        </tr>
        <tr>
            <th height="50" colspan="2" align="center"><h2 tabindex="0"  onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:brown;">DATOS PROFESIONALES</h2></th>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Nombre de la empresa:</td>
            <td><input id="empresa" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí el nombre de la empresa" name="empresa" type="text" class="clase1" maxlength="80"></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Fecha en la que inicio a trabajar:</td>
            <td><input id="inicio" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí la fecha en la que inició a trabajar. los números de día. mes y año" name="inicio" type="date" class="clase1" ></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Fecha en que finalizo:</td>
            <td><input id="final" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí la fecha en que finalizó. números de día. mes y año" name="final" type="date" class="clase1" ></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Cargo:</td>
            <td><input id="cargo" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí el nombre del cargo que desempeño" name="cargo" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Telefono:</td>
            <td><input id="telefono" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí el número de teléfono de la empresa" name="telefono" type="number" class="clase1" min=1000000 max=9999999999></td>
        </tr>
        <tr>
            <th  height="50" colspan="2" align="center"><h2 tabindex="0"  onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" style="color:brown;">REFERENCIAS</h2></th>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Nombres:</td>
            <td><input id="refnombre" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí los nombres de la persona a referenciar" name="refnombre" type="text" class="clase1" maxlength="30"></td>
        </tr> 
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Apellidos:</td>
            <td><input id="refapellido" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí los apellidos de la persona a referenciar" name="refapellido" type="text" class="clase1" maxlength="30"></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Cedula:</td>
            <td><input id="refcedula" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí la cédula de la persona a referenciar" name="refcedula" type="number" class="clase1" min=1000000 max=9999999999 required></td>
        </tr>
        <tr>
            <td onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Telefono:</td>
            <td><input id="reftelefono" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Escribe aquí el número de teléfono la persona a referenciar" name="reftelefono" type="number" class="clase1" min=1000000 max=9999999999></td>
        </tr>

    </table>
    
    <div align="Center"><input id="boton" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Boton de validación. Presione enter para validar el formulario" type="submit" class="boton_personalizado" value="Validar"></div><br><br><br>

</form>

{% endblock %}