{% extends "Accesible/Alayout.html" %}

{% block content %}

<section title="Información de interés">
  <section>
    <div class="view-content">
      <div data-blazy="" class="
                      slick
                      blazy
                      slick--view
                      slick--view--slider
                      slick--view--slider--block-1
                      slick--skin--default
                      slick--optionset--default
                    " id="slick-views-slider-block-1-1">
        <div>
          <div>
            <div>
              <div class="field-content">
                <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                  <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()"alt="Informacion de Slide 1" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/3pXXs0j/s1.jpg"
                    src="https://i.ibb.co/3pXXs0j/s1.jpg" width="1903" height="500" typeof="foaf:Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slick__slide slide slide--1">
            <div class="views-field views-field-field-media-single">
              <div class="field-content">
                <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                  <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()"alt="Informacion de Slide 2" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/5cj8qkJ/s2.jpg"
                    src="https://i.ibb.co/5cj8qkJ/s2.jpg" width="1903" height="500" typeof="foaf:Image" />
                </div>
              </div>
            </div>
          </div>
          <div class="slick__slide slide slide--2">
            <div class="views-field views-field-field-media-single">
              <div class="field-content">
                <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                  <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Informacion de Slide 3" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/3pNsZVS/s3.jpg"
                    src="https://i.ibb.co/3pNsZVS/s3.jpg" width="1903" height="500" typeof="foaf:Image" />
                </div>
              </div>
            </div>
          </div>

        </div>
        <nav role="navigation" class="slick__arrow">
        </nav>
      </div>
    </div>
  </section>
</section>
</header>
<div class="main-container container js-quickedit-main-content">
  <div class="row">
    <div class="col-sm-12">
      <div data-drupal-messages-fallback class="hidden"></div>
      <div id="block-pagetitle" class="block block-core block-page-title-block">
        <div class="content">
          <h1 class="page-title sr-only title">
            <span property="dc:title" class="
                  field
                  field--name-title
                  field--type-string
                  field--label-hidden
                ">Inicio</span>
          </h1>
        </div>
      </div>
    </div>

    <section class="main-content col order-last col-sm-12" id="content" role="main">
      <div class="highlighted">
        <div id="block-informaciondestacada" class="
              block
              block-block-content
              block-block-content71288421-6d0f-4198-8125-bbd2b006fc5a
            ">
          <div class="content">
            <div class="
                  clearfix
                  text-formatted
                  field
                  field--name-body
                  field--type-text-with-summary
                  field--label-hidden
                  field__item
                ">
              <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-center">Información destacada</h2>
              <div class="row text-center">
                <div class="col-md-4 my-3">
                  <a target="_blank"><img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" class="img-fluid" src="https://i.ibb.co/KsW4k5V/i1.jpg"
                      alt="Imagen, información destacada 1" /></a>
                </div>
                <div class="col-md-4 my-3">
                  <a target="_blank"><img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" class="img-fluid" src="https://i.ibb.co/pXscLdw/i2.jpg"
                      alt="Imagen, Información destacada 2" /></a>
                </div>
                <div class="col-md-4 my-3">
                  <a target="_blank"><img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" class="img-fluid" src="https://i.ibb.co/XbK6vM0/i3.jpg"
                      alt="Imagen, Información destacada 3" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-servicios-2" class="
              block
              block-block-content
              block-block-content75c5632c-0e0f-4f15-8cff-0fcde494b1e7
            ">
          <div class="content">
            <div class="
                  clearfix
                  text-formatted
                  field
                  field--name-body
                  field--type-text-with-summary
                  field--label-hidden
                  field__item
                ">
              <div class="container">
                <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-center">
                  Servicios del INCI
                </h2>

                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img  onmousemove="HablarImagen(this)" onmouseout="mouseOut()"alt="Logo INCI Radio" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/radio_1.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder al Radio INCI" href="#" >INCIRadio</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                          La emisora virtual que tiene el propósito de
                          contribuir a la educación e información de la
                          población
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo La Tienda INCI" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/tienda_1.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder a la tienda INCI" href="#">La Tienda INCI</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                          Punto de venta de productos especializados para
                          personas con discapacidad visual
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo Centro Cultural" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/centrocultural_0.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder al centro cultural" href="#">Centro Cultural</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                          Garantizamos el acceso a la cultura con
                          actividades multisensoriales, talleres y fomento
                          a la lectura
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo Biblioteca Virtual para Ciegos" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/biblioteca_2.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder a la biblioteca virtual para ciegos" href="#">Biblioteca Virtual para Ciegos</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                          Es una Biblioteca Virtual que permite el acceso
                          a libros hablados, textos y otros contenidos
                          digitales
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo Imprenta Nacional para Ciegos" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/imprenta_1.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder a la imprenta nacional para ciegos" href="#">Imprenta Nacional para Ciegos</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                          La Imprenta ofrece el servicio de elaboración de
                          productos impresos con el sistema braille
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <div class="media border p-3 rounded">
                      <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Logo Asistencia Técnica" class="mr-3 img-fluid align-self-center"
                        src="http://www.inci.gov.co/sites/default/files/inline-images/asistencia_1.png" />
                      <div class="media-body">
                        <h3 class="mt-0 h5">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder a la asistencia técnica" href="#">Asistencia Técnica</a>
                        </h3>

                        <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                          Brinda servicios de asesoría a la población en
                          temas de inclusión, garantía de derechos y
                          participación
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>

      <a id="main-content"></a>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="news-block" class="">
              <section class="region region-news">
                <div class="
                      views-element-container
                      block block-views block-views-blockinpulso-block-4
                    " id="block-views-block-inpulso-block-4-2">
                  <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Noticias</h2>

                  <div class="content">
                    <div>
                      <div class="
                            view view-inpulso view-id-inpulso
                            view-display-id-block_4
                            js-view-dom-id-7e56039df55fb640aaff73b38cb3a12b72412563cd3295dce11d0e9bfdb1a77f
                          ">
                        <div class="view-content">
                          <div class="
                                views-view-grid
                                horizontal
                                cols-2
                                clearfix
                                col
                              ">
                            <div>
                              <div class="
                                    col-md-6 col-lg-6 col-sm-12 col-xs-12
                                    p-3
                                    pull-left
                                    align-text-center
                                  ">
                                <div class="views-field views-field-title">
                                  <h3 class="field-content">
                                    <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder a la noticia de importancia 1" href="#" hreflang="es">Noticia de importacia 1</a>
                                  </h3>
                                </div>
                                <div class="
                                      views-field views-field-field-imagen
                                    ">
                                  <div class="field-content"></div>
                                </div>
                                <div class="views-field views-field-body">
                                  <span class="field-content m-0">
                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                                      Descripcion corta para la noticia de importacia 1.
                                    </p>
                                  </span>
                                </div>
                              </div>
                              <div class="
                                    col-md-6 col-lg-6 col-sm-12 col-xs-12
                                    p-3
                                    pull-left
                                    align-text-center
                                  ">
                                <div class="views-field views-field-title">
                                  <h3 class="field-content">
                                    <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" href="#" aria-label="Enlace para acceder a la noticia de importancia 2" hreflang="es">Noticia de importacia 2</a>
                                  </h3>
                                </div>
                                <div class="
                                      views-field views-field-field-imagen
                                    ">
                                  <div class="field-content"></div>
                                </div>
                                <div class="views-field views-field-body">
                                  <span class="field-content m-0">
                                    <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                                      Descripción corta para la noticia de importancia 2.
                                    </p>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="view-footer">
                          <p>
                            <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para ver más noticias" href="#">Ver más noticias</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div id="block-vartheme-sub-system-main" class="block block-system block-system-main-block">
        <div class="content">
          <div data-history-node-id="1734" class="layout layout--onecol">
            <div class="layout__region layout__region--content">
              <section class="
                    field
                    field--name-comment-node-page
                    field--type-comment
                    field--label-hidden
                    comment-wrapper
                  "></section>
            </div>
          </div>
        </div>
      </div>
      <div class="
            views-element-container
            block block-views block-views-blockinpulso-block-2
          " id="block-views-block-inpulso-block-2-2">
        <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >INCI Digital - Edición Número (actual)</h2>

        <div class="content">
          <div>
            <div class="
                  view view-inpulso view-id-inpulso
                  view-display-id-block_2
                  js-view-dom-id-4f5adbbb4369538de5a78ac83da3785f7df30764bcf71a76f04c51496c520b29
                ">
              <div class="view-content">
                <div class="views-view-grid horizontal cols-3 clearfix col">
                  <div class="row">
                    <div class="
                          col-md-4 col-lg-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" href="#" aria-label="Enlace para aaceder al extracto 1 de la edición" hreflang="es">Título de extracto 1 de la edición</a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Extracto 1" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/QKtmM9X/D1.jpg"
                              src="https://i.ibb.co/QKtmM9X/D1.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                            Resumen corto de extracto 1 de INCI Digital
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="
                          col-md-4 col-lg-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" href="#" aria-label="Enlace para acceder al extracto 2 de la edición" hreflang="es">Título de extracto 2 de la edición</a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Extracto 2" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/6ZvLcxh/D2.jpg"
                              src="https://i.ibb.co/6ZvLcxh/D2.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                            Resumen corto de extracto 2 de INCI Digital
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="
                          col-md-4 col-lg-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a href="#"
                            hreflang="es" tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para acceder al extracto 3 de la edición" >Título de extracto 3 de la edición
                          </a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Extracto 3" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/HLvBzGm/D3.jpg"
                              src="https://i.ibb.co/HLvBzGm/D3.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                            Resumen corto de extracto 3 de INCI Digital
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="view-footer">
                <p>
                  <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para ver mas de INCI Digital" href="#">Ver más de incidigital</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="
            views-element-container
            block block-views block-views-blockinpulso-block-1
          " id="block-views-block-inpulso-block-1-2">
        <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >In-pulso - Edición Número (actual)</h2>

        <div class="content">
          <div>
            <div class="
                  view view-inpulso view-id-inpulso
                  view-display-id-block_1
                  js-view-dom-id-2d314d691b7a2fddf5901afb7d42330db82427d4751b1b1a967cb47c04f31b59
                ">
              <div class="view-content">
                <div class="views-view-grid horizontal cols-3 clearfix col">
                  <div class="row">
                    <div class="
                          col-lg-4 col-md-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" href="#">Título relevante 1</a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Relevante 1" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/QkBBT3Z/in1.jpg"
                              src="https://i.ibb.co/QkBBT3Z/in1.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                            Resumen corto de extracto 1 de In-pulso
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="
                          col-lg-4 col-md-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" href="#">Título relevante
                            2</a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img alt="Relevante 2" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/QKqTL41/in2.jpg"
                              src="https://i.ibb.co/QKqTL41/in2.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                            Resumen corto de extracto 2 de In-pulso
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="
                          col-lg-4 col-md-4 col-sm-12 col-xs-12
                          p-3
                          pull-left
                          align-text-top
                        ">
                      <div class="views-field views-field-title">
                        <h3 class="field-content">
                          <a tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" href="#">Título relevante 3</a>
                        </h3>
                      </div>
                      <div class="views-field views-field-field-imagen">
                        <div class="field-content">
                          <div class="
                                media
                                media--bundle--image
                                media--blazy
                                media--loading
                                media--image
                              ">
                            <img alt="Relevante 3" class="
                                  media__image media__element
                                  b-lazy
                                  img-fluid
                                " loading="lazy" data-src="https://i.ibb.co/5279QYv/in3.jpg"
                              src="https://i.ibb.co/5279QYv/in3.jpg" width="553" height="355" typeof="foaf:Image" />
                          </div>
                        </div>
                      </div>
                      <div class="views-field views-field-field-image">
                        <div class="field-content"></div>
                      </div>
                      <div class="views-field views-field-body">
                        <div class="field-content mt-3">
                          <p tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >
                            Resumen corto de extracto 3 de In-pulso
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="view-footer">
                <p>
                  <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para ver mas del inpulso" href="#">Ver más del inpulso</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="block-blockcalendar-2" class="block block-calendario block-block-calendar">
        <h2 tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Calendario INCI</h2>

        <div class="content">
          <div class="table-responsive-sm my-3">
            <table id="calendar" class="table table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Fecha</th>
                  <th scope="col" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" >Título del evento</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">xx de mes</td>
                  <td tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Nombre del evento</td>
                </tr>
              </tbody>
            </table>
            <div class="link-to-calendar">
              <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para ver todos los eventos" href="#">Ver todos los eventos</a>
            </div>
          </div>
        </div>
      </div>
      <div id="block-piedepaginaentidades" class="
            block
            block-block-content
            block-block-content529a546b-7a61-44a0-b73d-5347db88e471
          ">
        <div class="content">
          <div class="
                clearfix
                text-formatted
                field
                field--name-body
                field--type-text-with-summary
                field--label-hidden
                field__item
              ">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-lg-3">
                <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace Estado simple colombia ágil"
                data-entity-type="file" data-entity-uuid="66d817ad-07a5-44b2-a609-b22273182ec0" href=""><img
                    alt="Banner Estado Ágil" class="img-fluid mx-auto d-block my-2" data-entity-type="file"
                    data-entity-uuid="66d817ad-07a5-44b2-a609-b22273182ec0"
                    src="http://www.inci.gov.co/sites/default/files/inline-images/estadoagil_1.jpg" /></a>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-3">
                <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace para peticiones, quejas y reclamos" data-entity-type="file" data-entity-uuid="4dc28ba4-be5e-4659-89cc-d2cc6ca2bb51" href=""><img
                    alt="Botón, peticiones quejas y reclamos" class="img-fluid mx-auto d-block my-2"
                    data-entity-type="file" data-entity-uuid="4dc28ba4-be5e-4659-89cc-d2cc6ca2bb51"
                    src="http://www.inci.gov.co/sites/default/files/inline-images/pqrs.jpg" /></a>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-3">
                <a tabindex="0" onfocus="Hablar(this)" onblur="mouseOut()" onmousemove="Hablar(this)" onmouseout="mouseOut()" aria-label="Enlace Transparencia acceso a la informacion púbica"
                data-entity-type="file" data-entity-uuid="e0a859e1-2c8c-4e85-af65-a12ac65b0ddb" href=""><img
                    alt="Transparencia, y acceso a la información pública" class="img-fluid mx-auto d-block my-2"
                    data-entity-type="file" data-entity-uuid="e0a859e1-2c8c-4e85-af65-a12ac65b0ddb"
                    src="http://www.inci.gov.co/sites/default/files/inline-images/transparencia.jpg" /></a>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-3">
                <img tabindex="0" onfocus="HablarImagen(this)" onblur="mouseOut()" onmousemove="HablarImagen(this)" onmouseout="mouseOut()" alt="Banner, los materiales pedagógicos de DOTACION ENTREGADOS por el INCI son gratuitos"
                  class="img-fluid mx-auto d-block my-2" data-entity-type="file"
                  data-entity-uuid="8599de9f-db16-4bb5-a800-c04b5df402ac"
                  src="http://www.inci.gov.co/sites/default/files/inline-images/gratuidad.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
  function invocarAccesible() {
    window.location.href = "{% url 'ainicio' %}"
  }
</script>

<script>
  function invocarNoAccesible() {
    window.location.href = "{% url 'elinstituto' %}"
  }
</script>
</body>

</html>
{% endblock %}