{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
    <section>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a id="nav1" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="navbar-brand" href="#" tabindex="0">Barra de navegación</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="nav2" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" blur="mouseOut()" href="{% url 'ainicio' %}" class="nav-link" tabindex="0" tittle="Enlace para acceder a la pagina del INCI">INCI</a>
              </li>
              <li class="nav-item">
                <a id="nav3" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="nav-link active" href="{% url 'aelinstituto' %}" aria-current="page" tabindex="0" tittle="Enlace para acceder a la seccion Instituto"> El instituto</a>
              </li>
              <li class="nav-item">
                <a id="nav8" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="nav-link active" aria-current="page" href="{% url 'aformulario' %}" tabindex="0" tittle="Enlace para acceder al formulario"> Formulario</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="nav4" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Adicionales
                </a>
                <ul class="dropdown-menu" >
                  <li><a id="nav5" onfocus="HablarTexto(this)" onblur="mouseOut()"  onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="dropdown-item" tabindex="0" href="{% url 'ablog' %}">Blog INCI</a></li>
                  <li><a id="nav6" onfocus="HablarTexto(this)" onblur="mouseOut()"  onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="dropdown-item" tabindex="0" href="{% url 'aparticipa' %}" >Participa</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a id="nav7" onfocus="HablarTexto(this)" onblur="mouseOut()"  onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="dropdown-item" tabindex="0" href="{% url 'aatencion' %}">Atención y servicios a la ciudadania</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"></a>
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                
              />
              <button  onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="Hablar(this)" aria-label="Boton Buscar" onmouseout="mouseOut()" class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>
    </section>

    <section class="row">
        <div class="col-2">
        <button type="button" tabindex="0" id="btn1" onclick="invocarNoAccesible()"  onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="btn btn-danger" style="color:rgb(57, 243, 61); background-color:#5A2F00; font-size: 18pt; font-weight: bold;">Volver al modo NO accesible</button>
      </div>
    </section>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"
  ></script>

    <script >
      function invocarNoAccesible() {
        window.location.href="{% url 'inicio' %}"
      }
      </script>


    {% block content %}{% endblock %}
    <section>
      <footer class="text-white" style="background-color: #153d8a">
          <div class="container">
            <div class="row d-flex align-items-center py-4 px-3">
              <div class="col-md-8 text-center text-md-left">
                <h2 tabindex="0" id="f1" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="m-0 h3 text-white font-weight-bold">
                  Instituto Nacional Para Ciegos
                </h2>
              </div>
              <div class="col-md-4">
                <img
                  class="d-none d-md-block"
                  src="https://www.inci.gov.co/sites/default/files/footer/logoinciblanco.png"
                  alt="Logo Instituto Nacional Para Ciegos"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li id="f2" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Dirección: ---</li>
                  <li id="f3" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Código Postal para la República de Colombia: ---</li>

                  <li id="f4" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                    Horario de atención: <br />
                    ---
                  </li>
                  <br />
                  <li id="f5" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                    Teléfono Conmutador: ---
                  </li>
                  <li id="f6" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Teléfono Celular: ---</li>
                  <li id="f7" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">Whatsapp: ---</li>
                  <br />
                  <li id="f8" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                    Correo Institucional: ---
                   
                  </li>
                  <li id="f9" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                    Correo Transparencia: ---
                  </li>
                  <li id="f10" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()">
                    Correo de notificaciones judiciales: ---
                  </li>
                  <br />
                  <li>
                    <a
                      class="text-warning"
                      href=""
                      target="_blank" tabindex="0" id="f11" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()"
                      >Política de privacidad y condiciones de uso</a
                    >
                  </li>
                  <li>
                    <a id="f12" tabindex="0" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-warning" href="#"
                      >Mapa del sitio</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-flex p-2">
              <div class="px-4 py-3 text-center">
                <a
                  href=""
                  target="_blank"
                >
                  <img
                    class="mb-1"
                    src="https://www.inci.gov.co/sites/default/files/footer/facebook.png"
                    alt="Logo, Facebook"
                  />
                  <p tabindex="0" id="f13" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-warning m-0">Facebook</p>
                </a>
              </div>
              <div class="px-4 py-3 text-center">
                <a
                  href=""
                  target="_blank"
                >
                  <img
                    class="mb-1"
                    src="https://www.inci.gov.co/sites/default/files/footer/twitter.png"
                    alt="Logo, twitter"
                  />
                  <p tabindex="0" id="f14" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-warning m-0">Twitter</p>
                </a>
              </div>
              <div class="px-4 py-3 text-center">
                <a
                  href=""
                  target="_blank"
                >
                  <img
                    class="mb-1"
                    src="https://www.inci.gov.co/sites/default/files/footer/youtube.png"
                    alt="Logo, Youtube"
                  />
                  <p tabindex="0" id="f15" onfocus="HablarTexto(this)" onblur="mouseOut()" onmousemove="HablarTexto(this)" onmouseout="mouseOut()" class="text-warning m-0">Youtube</p>
                </a>
              </div>
            </div>
          </div>
        </footer>
    </section>
  </div>
  </body>
  <script>  
    var synth = window.speechSynthesis;
    function Hablar(valor){
      var toSpeak = new SpeechSynthesisUtterance(valor.ariaLabel);
      toSpeak.lang = "es-ES";
      toSpeak.voice=synth.getVoices().filter(function(voice) { return voice.name == 'Google español de Estados Unidos'; })[0];
      synth.speak(toSpeak);
    }
    
    function mouseOut() {
        synth.cancel();
    }
    function HablarTexto(nav1){
      var toSpeak = new SpeechSynthesisUtterance(nav1.innerHTML);
      toSpeak.lang = "es-ES";
      toSpeak.voice=synth.getVoices().filter(function(voice) { return voice.name == 'Google español de Estados Unidos'; })[0];
      synth.speak(toSpeak);
    }
    function HablarImagen(nav2){
      var toSpeak = new SpeechSynthesisUtterance(nav2.alt);
      toSpeak.lang = "es-ES";
      toSpeak.voice=synth.getVoices().filter(function(voice) { return voice.name == 'Google español de Estados Unidos'; })[0];
      synth.speak(toSpeak);
    }
    
  
  </script>
</html>

